{% extends "admin/admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
	{% if add_post %}
		Создание поста
	{% else %}
		Правка поста {{ title }}
	{% endif %}
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			{% if add_department %}
				<h1>Добавление поста</h1>
			{% else %}
				<h1>{{ title }}</h1>
			{% endif %}
			{{ wtf.form_errors(form) }}
		</div>
		<div class="card-body">
			{{ wtf.quick_form(form,
                    form_type="horizontal",
                    horizontal_columns=('lg', 2, 10),
                    enctype='multipart/form-data') }}
			<form class="form form-horizontal" method="post" role="form">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							{{ form.title.label }}
							{{ form.title }}
						</div>
					</div>
				</div>
			{{ form.submit(class = 'btn btn-success') }}
			</form>
		</div>
	</div>
{% endblock %}
