{% extends "admin/admin_base.html" %}
{% block title %}Админка{% endblock %}
{% block breadcrumb %}

			<li class="breadcrumb-item">Главная</li>
			<li class="breadcrumb-item">
				<a href="#">Admin</a>
			</li>
			<li class="breadcrumb-item active">Dashboard</li>
			<!-- Breadcrumb Menu-->
			{#<li class="breadcrumb-menu d-md-down-none">
				<div class="btn-group" role="group" aria-label="Button group">
					<a class="btn" href="#">
						<i class="icon-speech"></i>
					</a>
					<a class="btn" href="./">
						<i class="icon-graph"></i>  Dashboard</a>
					<a class="btn" href="#">
						<i class="icon-settings"></i>  Settings</a>
				</div>
			</li>#}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Админка</h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
